*{
	margin: 0;
  	padding: 0;
}
body{
  	color: #e69900;
  	font-size: 22px;
  	font-family: 'Bree Serif';
  	background-image: url(../images/black.jpg);
  	background-size: cover;
}
.container {
	position: absolute;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	width: 25%;
	height: 400px;
	font-size: 16px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}
.login_form, 
.recover_form,
.password_form {
	padding: 10px 40px;
	border-radius: 6px;
	box-sizing: border-box;
	background: #fff;
}
.login_form h2,
.recover_form h2,
.password_form h2 {
	text-align: center;
	margin-top: 10px;
	padding-bottom: 20px;
}
.login_form p,
.recover_form p,
.password_form p {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	color: #e69900;
}
.login_form input,
.recover_form input,
.password_form input {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 4px;
}
.login_form input[type="Email"], 
.login_form input[type="Password"],
.recover_form input[type="Email"], 
.recover_form input[type="Date"],
.password_form input[type="Password"] {
	border: none;
	border-bottom: 2px solid #D9E26E;
	outline: none;
	height: 30px;
}
.login_form input[type="Email"]:focus,
.login_form input[type="Password"]:focus,
.recover_form input[type="Email"]:focus,
.recover_form input[type="Date"]:focus,
.password_form input[type="Password"]:focus {
	border-bottom: 2px solid #e69900;
}
.login_form input[type="submit"],
.recover_form input[type="submit"],
.password_form input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: #a6af13;
	cursor: pointer;
}
.login_form input[type="submit"]:hover,
.recover_form input[type="submit"]:hover,
.password_form input[type="submit"]:hover {
	background: #e69900;
}
.login_form a,
.recover_form a,
.password_form a {
	color: #A6AF13;
	font-weight: bold;
	text-decoration: none;
}
.login_form a:hover,
.recover_form a:hover,
.password_form a:hover {
	font-size: 150%;
	color: #e69900;
}
.extra_link {
	color: #000 !important;
	margin-top: 5px !important;
	text-align: center;
}
.recover_link,
.login_link {
	font-size: 12px;
	margin-top: 5px;
}

@media only screen and (max-width: 1300px) {
  /* For mobile phones: */
  body {
  	background-size: auto;
  }
  .container {
  	width: 75%;
  }
}